<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AIP Examples</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h3>Github API</h3>
        <form method="POST">
            <input type="text" name="username" value="" required>
            {% csrf_token %}
            <input type="submit" name="" value="Get Github Info">
        </form>
        {% if user %}
        <p>Username: {{user.login}}</p>
        <p>URL: {{user.html_url}}</p>
        <p>Repos: {{ user.public_repos }}</p>
        {% endif %}
        
    </body>
</html>